body {
    width:100%;
    height:100%;
    font-family:"Microsoft YaHei";
    margin:0;
    overflow-x:hidden;
}
.top-nav{
    width:100%;
    height:50px;
    background-color:#ffffff;
}
.top-nav a img{
    display:block;
    position:relative;
    left:140px;
    margin-top:15px;
    margin-bottom:15px;
}
.top-nav a:hover{
    cursor:pointer;
}
.top-nav img{
    display:block;
    width:153px;
    height:33px;
}
.home .jumbotron{
    width:100%;
    height:520px;
    background:linear-gradient(to bottom,#364c68,#6a7d99);
}
.home .jumbotron .container{
    position:relative;
    width:1600px;
    height:520px;
    left:130px;
    right:130px;
}
.jumbotron .main_nav{
    width:1600px;
    height:150px;
    left:130px;
    right:130px;
}
.jumbotron .main_nav .menu{
    display:none;
    border-top: 1px solid #fff; 
    border-bottom: 1px solid #fff; 
    float: right;
    right:0px;
    height: 1px;
    margin-top: 60px;
    position: relative;
    width: 30px;
    background-color:#ffffff;
    padding: 8px 0;  
    background-clip:content-box;  
}
.jumbotron .main_nav .logo{
    position:relative;
    display:block;
    float:left;
    left:10px;
    top:40px;
    font-size:52px;
    color:#ffffff;
    text-decoration:none;
}
.main_nav ul{
    position:relative;
    float:left;
    left:680px;
    top:50px;
}
.main_nav li{
    display:block;
    float:left;
    list-style:none;
}
.main_nav li a{
    display:block;
    text-decoration:none;
    color:#ffffff;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:20px;
}
.main_nav li a:hover{
    text-decoration:underline;
}
.home{
    width:100%;
    height:100%;
}
.home .jumbotron img{
    float:left;
    width: 48%;
}

.jumbotron .title{
    float:right;
    color:#ffffff;
    margin-top:30px;
    width:48%;
    right:50px;
}
.jumbotron .title h1{
    display:block;
    font-weight:300;
    font-size:42px;
}
.jumbotron .title a:hover{
    background-color:#0a7eb2;
}
.jumbotron .title .button{
    display:block;
    line-height:60px;
    width:38%;
    margin-top:40px;
    background-color:#0977a8;
    text-decoration:none;
    color:#ffffff;
    font-size:22px;
    text-align:center;
    border:1px solid #4799be;
}
.home .twitter{
    width:100%;
    height:180px;
    color:#ebeef0;
    background:#364c68;
    padding:20px 0 10px 0;
    box-shadow:5px 20px -2px rgba(0,0,0,.4);
}
@font-face {
  font-family: 'iconfont';  /* project id 193780 */
  src: url('//at.alicdn.com/t/font_kxxuay05xe9izfr.eot');
  src: url('//at.alicdn.com/t/font_kxxuay05xe9izfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_kxxuay05xe9izfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_kxxuay05xe9izfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_kxxuay05xe9izfr.svg#iconfont') format('svg');
}
.iconfont{
    font-style:normal;
    font-family:iconfont;
    color:#ffffff;
    font-size:44px;
}
.home .twitter .container{
    position:relative;
    width:1700px;
    height:180px;
    left:120px;
}
.home .twitter .slider_container{
    text-align:center;
    width:1700px;
    height:180px;
}
.home .twitter .slider_container a{
    text-decoration:none;
}
.home .twitter .slider_container .left{
    position:absolute;
    display:block;
    margin-top:50px;
    left:60px;
}
.home .twitter .slider_container .right {
    position: absolute;
    display: block;
    margin-top: 50px;
    right: 60px;
}
.home .twitter .slider{
    position:relative;
    width:1460px;
    height:180px;
    left:130px;
    overflow:hidden;

}
.home .twitter .slider #silde_0{
    position:absolute;
    width:1460px;
    height:170px;
    left:0;
}
.home .twitter .slider #silde_1{
    position:absolute;
    width:1460px;
    height:170px;
    left:1460px;
}
.home .twitter .slider #silde_2{
    position:absolute;
    width:1460px;
    height:170px;
    left:2920px;
}
.home .twitter .slider #silde_3{
    position:absolute;
    width:1460px;
    height:170px;
    left:4380px;
}
.home .twitter .slider .item{
    float:left;
    margin-top:8px;
    margin-bottom:20px;
    margin-left:18px;
    margin-right:18px;
    background:url("../images/twitter-icon.svg");
    background-repeat:no-repeat;
    background-size:25px 25px;
    background-position:420px 28px;
}
.home .twitter .slider .item img{
    margin-top:30px;
    width:80px;
    height:80px;
    border-radius:100px;
    border:2px solid #6a7d99;
}
.home .twitter .slider .item .inner{
    float:right;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:10px;
    margin-right:50px;
}
.home .twitter .slider .item .inner a{
    text-decoration:none;
    color:#ffffff;
    font-size:24px;
    font-weight:normal;
}
.home .twitter .slider .item .inner a:hover{
    text-decoration:underline;
}
.home .twitter .slider .item .inner h3{
    margin-bottom:0px;
}
.home .twitter .slider .item .inner span{
    font-size:16px;
    font-weight:normal;
}
.home .twitter .slider .item .inner p{
    display:block;
    width:300px;
    font-size:18px;
    font-weight:300;
    margin-top:0px;
}
.coding{
    background:#eaeaea;
    padding-top:10px;
}
.coding .container{
    width:1500px;
    height:620px;
    margin-left:200px;
    margin-right:200px;
}
.coding .container .swam{
    width:1500px;
    height:500px;
}
.swam .row_left{
    width:1500px;
    height:500px;
}
.swam .row_left .item_left{
    float:left;
}
.swam .row_left .item_left h2{
    margin-top:40px;
    margin-bottom:40px;
    font-family:wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    font-size:50px;
    font-weight:300;
    color:#555;
}
.swam .row_left .item_left h3{
    font-family:wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    font-size:25px;
    color:#555;
}
.swam .row_left .item_left ul{
    font-family:wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light",wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    font-size:22px;
    font-weight:600;
    line-height:35px;
    color:#808080;
}
.swam .row_left .item_right{
    float:left;
    width:568px;
    height:268px;
    border:1px solid #808080;
    margin-left:40px;
}
.home .strip_alt{
    width:100%;
    height:850px;
    float:left;
}
.strip_alt .container{
    position:relative;
    width:1560px;
    height:800px;
    margin-left:170px;
    margin-right:150px;
    text-align:center;
}
.strip_alt .container h2{
    font-size:44px;
    font-weight:300;
    margin-top:60px;
    margin-bottom:80px;
}
.strip_alt .strip_item{
    width:1560px;
}
.strip_alt .strip_item .strip_item_1{
    float:left;
    width:31%;
    height:480px;
    margin-left:15px;
    margin-right:20px;
    background-color:#fafafa;
}
.strip_alt .strip_item .strip_item_1 img{
    width:80px;
    height:100px;
}
.strip_alt .strip_item .strip_item_2{
    float:left;
    width:31%;
    height:480px;
    margin-left:15px;
    margin-right:20px;
    background-color:#fafafa;
}
.strip_alt .strip_item .strip_item_2 img{
    width:61px;
    height:100px;
}
.strip_alt .strip_item .strip_item_3{
    float:left;
    width:31%; 
    height:480px;
    margin-left:15px;
    margin-right:20px;
    background-color:#fafafa;
}
.strip_alt .strip_item .strip_item_3 img{
    width:191px;
    height:100px;
}
.strip_alt .strip_item img{
    margin-top:60px;
    margin-bottom:20px;
}
.strip_alt .strip_item h3{
    font-weight:400;
    font-size:28px;
}
.strip_alt .strip_item h3 a{
    text-decoration:none;
    color:#4799be;
}
.strip_alt .strip_item h3 a:hover{
    text-decoration:underline;
}
.strip_alt .strip_item p{
    display:block;
    margin-top:20px;
    margin-bottom:40px;
    margin-left:10px;
    margin-right:10px;
    font-size:22px;
    font-family: wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    color:#555;
}
@font-face {
  font-family: 'iconfont';  /* project id 193780 */
  src: url('//at.alicdn.com/t/font_41pljididqyhw7b9.eot');
  src: url('//at.alicdn.com/t/font_41pljididqyhw7b9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_41pljididqyhw7b9.woff') format('woff'),
  url('//at.alicdn.com/t/font_41pljididqyhw7b9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_41pljididqyhw7b9.svg#iconfont') format('svg');
}
.iconfont_0{
    font-family:iconfont;
    font-style:normal;
    font-size:22px;
    color:#555;
}
.strip_alt .container a{
    text-decoration:none;
}
.strip_alt .container .cta span{
    color:#555;
    font-size:22px;
    line-height:150px;
}
.strip_alt .container a:hover{
    text-decoration:underline;
}
.home .strip_map{
    clear:both;
    width:100%;
    height:740px;
    background-color:#eaeaea;
}
.strip_map .container{
    position:relative;
    width:1560px;
    height:auto;
    left:150px;
    right:150px;
    text-align:center;
}
.strip_map .container h1{
    position:relative;
    font-family: wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    font-weight:300;
    font-size:48px;
    color:#555;
    top:60px;
}
.strip_map .container p{
    position:relative;
    font-family: wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    font-size:23px;
    color:#555;
    top:60px;
    line-height:35px;
    margin-top:40px;
    margin-bottom:40px;
}
.strip_map .container a{
    text-decoration:none;
    color:#0977a8;
}
.strip_map .container a:hover{
    text-decoration:underline;
}
.strip_map .container img{
    position:relative;
    top:80px;
    width:768px;
    height:325px;
}
.home .strip_link{
    width:100%;
    height:740px;
    background-color:#364c68;
    padding-top:10px;
    border-bottom:1px solid #4a5e77;
}
.strip_link .container{
    position:relative;
    width:1560px;
    height:740px;
    left:150px;
    right:150px;
}
.strip_link .container h2{
    position:relative;
    text-align:center;
    font-weight:300;
    font-size:44px;
    font-family:wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    color:#ffffff;
    top:30px;
}
.strip_link .container .link_item{
    position:relative;
    width:1560px;
    height:600px;
    top:50px;
}
.strip_link .container .link_item h3{
    font-family:wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    font-weight:300;
    font-size:32px;
}
.strip_link .container .link_item_1{
    width:460px;
    height:520px;
    float:left;
    text-align:center;
    color:#ffffff;
    margin-left:25px;
    margin-right:15px;
    font-size:20px;
}
.strip_link .container .link_item_1 img{
    display: block;
    width: 380px;
    height: 135px;
    margin-left: 45px;
    margin-right:45px;
}
.strip_link .container .link_item_2{
    float:left;
    width:460px;
    height:520px;
    text-align:center;
    color:#ffffff;
    margin-left:25px;
    margin-right:15px;
    font-size:20px;
}
.strip_link .container .link_item_2 img{
    display: block;
    width: 340px;
    height: 135px;
    margin-left: 45px;
    margin-right:45px;
}
.strip_link .container .link_item_3{
    float:left;
    width:460px;
    height:520px;
    text-align:center;
    color:#ffffff;
    margin-left:25px;
    margin-right:15px;
    font-size:20px;
}
.strip_link .container .link_item_3 img{
    display: block;
    width: 300px;
    height: 135px;
    margin-left: 75px;
    margin-right:35px;
}
.strip_link .container .link_item p{
    font-weight:400;
    line-height:30px;
}
.strip_link .container a{
    text-decoration:none;
}
.strip_link .container .cta{
    float:right;
}
.strip_link .container .cta span{
    position:relative;
    color:#ffffff;
    font-size:20px;
    top:-80px;
}
.strip_link .container .cta i{
    position:relative;
    color:#ffffff;
    font-size:20px;
    top:-80px;
}
.strip_link .container a:hover{
    text-decoration:underline;
    color:#ffffff;
}
.shell_footer{
    width:100%;
    height:80px;
    padding-top:10px;
    background-color:#364c68;
}
.shell_footer .container{
    width:1560px;
    height:70px;
    left:150px;
    right:150px;
}
.shell_footer .container ul{
    position:relative;
    display:block;
    list-style:none;
    left:860px;
}
.shell_footer .container li{
    display:block;
    float:left;
}
.shell_footer .container li a{
    display:block;
    text-decoration:none;
    color:#ffffff;
    margin-left:15px;
    margin-right:15px;
}
.shell_footer .container li .footer_copyright{
    color:#ffffff;
}
.shell_footer .container li a:hover{
    text-decoration:underline;
}
@media(max-width:898px) {
    .shell-header .top-nav a img{
        position:relative;
        display:block;
        left:10px;
    }
    .home .jumbotron{
    width:100%;
    height:740px;
    background:linear-gradient(to bottom,#364c68,#6a7d99);
}
    .home .jumbotron .container{
        width:100%;
        height:100%;
        left:10px;
    }
    .home .jumbotron .container img{
        width:100%;
    }
    .jumbotron .title{
    margin-top:5px;
    width:100%;
    text-align:center;
}
    .jumbotron .title .button{
        float:none;
        width:38%;
    }
    .jumbotron .main_nav .menu{
        display:block;
    }
    .main_nav ul{
        display:none;
    }
    .home .strip_alt{
    width:100%;
    height:100%;
}
.strip_alt .container{
    text-align:center;
    width:auto;
    margin-left:10px;
    margin-right:10px;
}
.strip_alt .container h2{
    font-size:44px;
    font-weight:300;
    margin-top:60px;
    margin-bottom:80px;
}
.strip_alt .strip_item{
    width:auto;
}
.strip_alt .strip_item .strip_item_1{
    width:97%;
    height:100%;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:25px;
    background-color:#fafafa;
}
.strip_alt .strip_item .strip_item_2{
    width:97%;
    height:100%;
    margin-left:10px;
    margin-right:10px;
     margin-bottom:25px;
    background-color:#fafafa;
}
.strip_alt .strip_item .strip_item_3{
    width:97%;
    height:100%;
    margin-left:10px;
    margin-right:10px;
     margin-bottom:25px;
    background-color:#fafafa;
}
.strip_map .container{
    width:100%;
    height:100%;
    left:10px;
    right:10px;
    text-align:center;
}
.strip_map .container img{
    width:90%;
    top:60px;
    height:25%;
    right:10px;
}
.home .strip_link{
    width:100%;
    height:100%;
}
.strip_link .container{
    width:100%;
    height:100%;
}
.strip_link .container h2{
    top:30px;
}
.strip_link .container .link_item{
    width:100%;
    height:90%;
    top:50px;
}
.strip_link .container .link_item_1{
    width:58%;
    height:520px;
    margin-left:25px;
    margin-right:15px;
}
.strip_link .container .link_item_2{
    float:left;
    width:460px;
    height:520px;
    text-align:center;
    color:#ffffff;
    margin-left:25px;
    margin-right:15px;
    font-size:20px;
}
.strip_link .container .link_item_3{
    float:left;
    width:460px;
    height:520px;
    text-align:center;
    color:#ffffff;
    margin-left:25px;
    margin-right:15px;
    font-size:20px;
}
}

   