body {
    font-family: MyriadPro-Regular, 'Microsoft YaHei', 'Roboto', sans-serif;
}
.main-header {
    width:100%;
    height:220px;
    background-image: url(../images/green.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.navbar-toggle{
}
.navbar-default {
    background:none; 
    border:none;
}
.navbar-default .navbar-nav > li > a {
    position:relative;
    color: #fff;
    text-decoration:none;
    text-align:center;
}
.navbar-default .navbar-nav > li > a:before{
    content:"";
    position:absolute;
    transform:scale(0);
    width:0;
    left:50%;
    height:2px;
    bottom:-2px;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#fff;
}
.navbar-default .navbar-nav > li > a:hover:before {
    border: 4px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: all .3s;
    transform:scale(1);
    width:100%;
    left:0;
    right:0;
}
.cover{
    position:absolute;
    top:40px;
    width:300px;
    height:170px;
    left:120px;
}
.grid_12{
    position:relative;
    top:50px;
}
.trapezoid {
    position: relative;
    left: -25px;
    border-top: 50px solid #76945a;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    width: 150px;
    height: 80px;
}
.trapezoid span {
    position: relative;
    top: -35px;
    left: 20px;
    z-index: 999;
    color:#fff;
    font-size:16px;
}
.trapezoid-main {
    position: absolute;
    border-top: 50px solid #ad6938;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    width: 150px;
    top: -40px;
    left:-15px;
    z-index: -1;
}
.cont-outer {
    position: relative;
    margin-bottom:55px;
}
.table{
    box-shadow:0px 0px 20px #d5d3d3;
}
.table thead > tr {
    background: #637d4b;
    color: #fff;
    line-height: 10px;
}
.table tbody > tr > td:hover {
    background-color: #fff0db;
}
.table tbody > tr > td{
    height:50px;
    line-height:30px;
}
.footer{
    margin-top:100px;
    width:100%;
    height:400px;
    background-color:#637d4b;
}
.main-footer{
    position:relative;
    top:100px;
    margin-left:100px;
    margin-right:100px;
}
.logo-link{
    position:absolute;
    width:1000px;
    height:500px;
}
.logo-link ul{
    list-style:none;
}
.logo-link ul > li{
    float:left;
}
