body {
    margin:0px;
    padding:0px;
    background-color:#e9eaee;
    font-family:"Microsoft YaHei";
}
.nav_top{
    width:100%;
    height:65px;
    background-color:#4e4d4d;
}
.nav_top ul{
    list-style:none;
    position:absolute;
    right:160px;
    top:20px;
}
.nav_top li{
    float:right;
}
.f1{
    float:left;
}
.nav_top li a{
    color:#e9eaee;
    font-size:18px;
    text-decoration:none;
    display:block;
    margin-left:25px;
    margin-right:25px;
}
.iconfont { font-family: iconfont; }
.iconfont_1{font-family:iconfont;}
.iconfont_2{font-family:iconfont;}
.iconfont_3{font-family:iconfont;}
@font-face {
  font-family: 'iconfont';  /* project id 193780 */
  src: url('//at.alicdn.com/t/font_wa4yaw3juavbcsor.eot');
  src: url('//at.alicdn.com/t/font_wa4yaw3juavbcsor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_wa4yaw3juavbcsor.woff') format('woff'),
  url('//at.alicdn.com/t/font_wa4yaw3juavbcsor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_wa4yaw3juavbcsor.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id 193780 */
  src: url('//at.alicdn.com/t/font_onkyj6a0argj5rk9.eot');
  src: url('//at.alicdn.com/t/font_onkyj6a0argj5rk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_onkyj6a0argj5rk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_onkyj6a0argj5rk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_onkyj6a0argj5rk9.svg#iconfont') format('svg');
}
i { 
    font-style: normal;
    font-size:20px;
}
.nav_main {
    width: 100%;
    height: 127px;
    background-color: #ffffff;
    padding-top: 10px;
}
.container{
    margin-left:140px;
    margin-right:140px;
}
.nav_main .logo{
    position:absolute;
    display: block;
    float: left;
    width: 142px;
    height: 97px;
    line-height: 60px;
}
.fr_clearfix{
    margin-left:90px;
}
.fr_clearfix ul{
    list-style:none;
}
.fr_clearfix> li a{
    font-size:22px;
    color:#000000;
    text-decoration:none;
    display:block;
    float:left;
    line-height:60px;
    padding-left:15px;
    padding-right:25px;
}
.nav_header_search{
    position:absolute;
    right:390px;
    top:100px;
}
.form_control{
    line-height:44px;
    border:1px solid rgb(230,230,230);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    width:345px;
}
.key_word_select span{
    position:absolute;
    right:85px;
    top:12px;
    font-size: 12px;
    cursor: pointer;
} 
.iconfont_0{
    font-family:iconfont;
    position:absolute;
    right:60px;
    top:12px;
    font-size:18px;
    cursor: pointer;
}
.iconfont_4{
     font-family:iconfont;
     font-size:24px;
}

.nav_header_search .hot_search {
    position:absolute;
    margin-top:8px;
    margin-left:-35px;
} 
.nav_header_search .hot_search li {
   float:left;
}
.nav_header_search .hot_search li a {
    text-decoration: none;
    font-size: 12px;
    color: #808080;
    margin: 8px 8px;
}
.nav_header_upload{
    position:absolute;
    right:200px;
    top:101px;
}
.nav_header_upload .btn{
    line-height:32px;
    font-size:18px;
}
@font-face {
  font-family: 'iconfont';  /* project id 193780 */
  src: url('//at.alicdn.com/t/font_zdc1m6kui7fogvi.eot');
  src: url('//at.alicdn.com/t/font_zdc1m6kui7fogvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_zdc1m6kui7fogvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_zdc1m6kui7fogvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_zdc1m6kui7fogvi.svg#iconfont') format('svg');
}
.iconfont_5{
    font-family:iconfont;
}
.content_nav{
    margin-top:30px;
}
.content_nav img{
    width:1560px;
    height:450px;
}
.content_nav .content_list{
    position:absolute;
    margin-left:-40px;
}
.content_nav ul{
    list-style:none;
}
.content_nav li a{
    display:block;
    text-decoration:none;
    font-family:"Microsoft YaHei";
    line-height:80px;
    color:#ffffff;
    font-size:26px;
    position:absolute;
    left:0;
    right:0;
    text-align:center;
}
.content_nav li{
    position:relative;
    width:390px;
    height:80px;
    float:left;
    top:-80px;
    cursor:pointer;
}
.content_nav li .mask{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.7;
    transition:all 0.2s;
}
.content_nav li:hover .mask{ 
    opacity:0.5;
}
.content_nav .content_list li:hover a{
    color:#1acc18;
}
.content_nav .content_list .active a{
    color:#1acc18;
}
.content_nav .content_list .active .mask{
    background-color:#ffffff;
    opacity:0.9;
}
@font-face {
  font-family: 'iconfont';  /* project id 193780 */
  src: url('//at.alicdn.com/t/font_bm2vxqpj9wj3jtt9.eot');
  src: url('//at.alicdn.com/t/font_bm2vxqpj9wj3jtt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_bm2vxqpj9wj3jtt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_bm2vxqpj9wj3jtt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_bm2vxqpj9wj3jtt9.svg#iconfont') format('svg');
}
.iconfont_f_0{
    font-family:iconfont;
    font-size:26px; 
}
.iconfont_f_1{
    font-family:iconfont;
}
.iconfont_f_2{
    font-family:iconfont;
}
.iconfont_f_3{
    font-family:iconfont;
}
.content_body{
    position:relative;
    background-color:#ffffff;
    width:1560px;
    height:1000px;
    padding-top:10px;
}
.content_body_people{
    position:relative;
}
.content_body .picture_1 img{

}
.content_body .people_post{
}

